body {
    display: flex;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}

.h1 {
    color: black;
    font: bold;
    font-size: 30px;
    margin-left: 50px;


}

.container {
    align-items: center;
}

form {
    border: 2px lightgray;
    border-radius: 15px 15px 15px 15px;
    font-size: 20px;

}


.col {
    column-count: 6;
    column-gap: 5px;
    column-width: 100px;


}

.column {
    column-count: 6;
    column-gap: 5px;
    column-width: 100px;
}

#tel {
    width: 33%;
}

#email {
    width: 33%;

}

.signup {
    align-items: center;
    background-color: forestgreen;
    font-size: 25px;
    border-radius: 8px;
    border: 2px forestgreen;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.register {
    background-color: dodgerblue;
    font-size: 25px;
    border-radius: 8px;
    border: 2px dodgerblue;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.agree {
    font-size: 12px;
}
}
p {
    font-size: 12px;

}